/*type*/
.pdf{ font-size: 1em;
}

.socmed{
    margin-bottom: 50px;
}

button {
    margin-top: 20px;
    color: black;
    font-size: 16px;
    padding: 15px 24px;
    border: 15px outset white;
    cursor: pointer;
    border-radius: 25px 0px;
    text-align: center;
    width: auto;
    margin: auto; 
    font-family: 'Bungee Inline', cursive;
}

button:hover {
    background-color: #64C7CC;
    color: white;
    opacity: 0.9;
}

body {
  width: 100%;
  text-align: center;
  padding-top:5em;
  background-color: #F3E1C9;

}

p {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: auto;
    font-size: 1.3em;
    
}

h1 {
    font-family: 'Orbitron', cursive;
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 30px;
}

h2 {  
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    margin-top: 100px;
    margin-bottom: 20px;
 
}

#role {
    width: 100%;
}

#yellow {
    color: #8c8e01;
    font-size: 1.5em;
}

#blue {
    color: blue;
    font-size: 1.5em;
}

#red {
    color: red;
    font-size: 1.5em;
}

#green {
    color: green;
    font-size: 1.5em;
}

#orange {
    color: orange;
    font-size: 1.5em;
}

#violet {
    color: violet;
    font-size: 1.5em;
}

#me {
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    border-radius: 50%;
    border: 5px inset grey;
    font-size: 2em;
    
}

.typewriter{
  font-family: monospace; /* Web-safe typewriter-like font */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(30, end),
  blinking-cursor .5s step-end infinite;
}

/* ======================= The typing effect ==========================*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


/*======================== Social Media ============================*/

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #64C7CC;
}
.social-network a.icoFacebook:hover {
    background-color:#64C7CC;
}
.social-network a.icoTwitter:hover {
    background-color:#64C7CC;
}
.social-network a.icoGoogle:hover {
    background-color:#64C7CC;
}
.social-network a.icoVimeo:hover {
    background-color:#64C7CC;
}
.social-network a.icoLinkedin:hover {
    background-color:#64C7CC;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#64C7CC;
}
a.socialIcon:hover, .socialHoverClass {
    color:#64C7CC;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    background-color: #64C7CC; 
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

/*a {
   background-color: #64C7CC;   
}*/

/*======================== Hexagon=======================*/

#middle{
    margin-left: 50%;
}

#above {
    margin-left: 25%;
    color: white;
}

#below {
    margin-left: 25%;
}

.hexagon {
  margin-left: 10%important;
  color: white;
  position: relative;
  width: 100px; 
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 13.6447px;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}

.hexagon:before {
  top: -35.3553px;
  border-top: solid 1.4142px #333333;
  border-right: solid 1.4142px #333333;
}

.hexagon:after {
  bottom: -35.3553px;
  border-bottom: solid 1.4142px #333333;
  border-left: solid 1.4142px #333333;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:0.5773502691896257px;
  left: 0;
  width:98px;
  height:56.5803px;
  z-index: 2;
  background: inherit;
}

/* ======================= scrolling images ==========================*/

h2{
  text-align:center;
  padding: 0px;
}
/* Slider */

.slick-slide {
    margin: 1px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*skill bar*/
#bars {
    margin: 2em auto;
    max-width: 960px;
    overflow: hidden;
}

.bar {
    float: left;
    width: 25%;
    text-align: center;
}

.bar h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

.bar-circle {
    display: block;
    margin: 0.7em auto;
}

/*typwriting*/

var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
};

TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
                this.isDeleting = false;
                this.loopNum++;
                delta = 500;
            }

            setTimeout(function() {
                that.tick();
                }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                  new TxtType(elements[i], JSON.parse(toRotate), period);
              }
          }
          // INJECT CSS
          var css = document.createElement("style");
          css.type = "text/css";
          css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
          document.body.appendChild(css);
      };

      /*=================== Flip book =================*/

      /* Basic sample */

body{/*
    overflow:hidden;*/
    background-color:#fcfcfc;
    margin:0;
    padding:0;
}

.flipbook-viewport{
    overflow:hidden;
    width:100%;
    height:100%;
    margin-top: 5%;
}

.flipbook-viewport .container{
    position:relative;
    top:50%;
    left:50%;
    margin:auto;
}

.flipbook-viewport .flipbook{
    width:922px;
    height:600px;
    /*left: -25%; */
    /*margin-top: 5%;*/
    margin: auto!important;
}

.flipbook-viewport .page{
    width:461px;
    height:600px;
    background-color:white;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

.flipbook .page{
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
    -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0;
}

.flipbook-viewport .shadow{
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -moz-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    -ms-transition: -ms-box-shadow 0.5s;

    -webkit-box-shadow:0 0 20px #ccc;
    -moz-box-shadow:0 0 20px #ccc;
    -o-box-shadow:0 0 20px #ccc;
    -ms-box-shadow:0 0 20px #ccc;
    box-shadow:0 0 20px #ccc;
}


/*==================skill bar============*/
.progress {
    position: relative;
    height: 25px;
}
.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

/*================ testimonial  =============*/
.broun-block {
    background: url("http://myinstantcms.ru/images/bg-broun1.jpg") repeat scroll center top rgba(0, 0, 0, 0);
    padding-bottom: 34px;
}
.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}
.block-text a {
 color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite {
    background-image: url('')
;
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}
.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}


.block {
    display: block;
}
.zmin {
    z-index: 1;
}
.ab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #64C7CC;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}